body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: black;
}

main {
	background: #ffffff;
	width: 90%;
	height: 90%;
	position: relative;
	top: 5%;
	left: 5%;

}

#map {
	width: 100%;
	height: 100%;
}